<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Test EJS</title>
</head>
<body>
    <div class="global-header">
        <div class="content">
            <div class="logo">
                <span id="logo-holder">ST Gaming</span>
            </div>
            <div id="global-actions">
                <div id="global-actions-menu">
                    <a href="#" class="global-actions-link">Sign in</a>
                    &nbsp; | &nbsp;
                    <a href="" class="global-actions-link">Sign up</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>