<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Sign In</title>
</head>
<body>
    <div class="global-header">
        <div class="content-header">
            <div class="logo">
                <span id="logo-holder">ST Gaming</span>
            </div>
            <div id="global-actions">
                <div id="global-actions-menu">
                    <a href="/" class="global-actions-link">Main Page</a>
                    &nbsp; | &nbsp;
                    <a href="/signup" class="global-actions-link">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="formsender">
            <form action="#" method="post">
                    <input id="box-text" type="text" name="username" placeholder="Username" required>
                   <br> <br> 
                    <input id="box-text" type="password" name="password" placeholder="Password" required> 
                    <br> <br>
                    <input type="submit" name="submit" value="Sign in">
                </form>
        </div>
    </div>


</body>
</html>