<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Sign Up</title>
</head>
<body>
    <div class="global-header">
        <div class="content-header">
            <div class="logo">
                <span id="logo-holder">ST Gaming</span>
            </div>
            <div id="global-actions">
                <div id="global-actions-menu">
                    <a href="/" class="global-actions-link">Main Page</a>
                    &nbsp; | &nbsp;
                    <a href="/signin" class="global-actions-link">Sign In</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="formsender">
            <form action="#" method="post">
                <input id="box-text" type="text" name="username" placeholder="Username" required>
                   <br> <br> 
                <input id="box-text" type="password" name="password" placeholder="Password" required> 
                    <br> <br>
                <input id="box-text" type="email" name="Email" placeholder="Email" required> 
                    <br> <br>
                <input id="box-text" type="text" name="Name" placeholder="First Name" required> 
                    <br> <br>
                <input id="box-text" type="text" name="Lastname" placeholder="Last Name" required> 
                    <br> <br>
                <input id="box-text" type="text" name="Contact_No" placeholder="Contact No." required> 
                <br>
                <input type="submit" name="submit" value="Sign Up"><br>
            <label class="under-form">Already have a account?<a href="/signin" class="inter_link">Sign In</a></label>

                </form>
                
        </div>
    </div>


</body>
</html>