@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #1B2A3C;

}
.global-header{
    background: #2563BF;
    background-position: center top;
    min-width: 940px;
    padding-left: 16px;
    padding-right: 16px;
}

.content-header{
    position: relative;
    right: 0;
    width: 940px;
    height: 104px;
    margin: 0px auto;
    z-index: 402;
}

.logo{
    float: left;
    padding-top: 30px;
    margin-right: 40px;
    width: 205px;
    height: 44px;
}

#logo-holder{
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-size: 40px;
    text-decoration: none;
}

#global-actions{
    position: absolute;
    right: 0px;
    top: 6px;
    height: 21px;
    line-height: 21px;
    color: #fff;
    font-size: 11px;
    z-index: 401;
}

#global-actions-menu{
    line-height: 24px;
    vertical-align: top;
    display: inline-block;
}

.global-actions-link{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

.container{
    position: absolute;
    width: 100%;
    height: 50%;
    top: 20%;
    text-align: center;
}

#box-text{
    width: 284px;
    height: 38px;
    background: #FFFFFF;
    border-radius: 8px;
    border: none; 
    font-size: unset;
    text-align: center;
}

input[type=submit]{
    pointer-events: auto;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #fff;
    border: none;
    width: 288px;
    height: 26px;
    margin-top: 12px;
    background: #8B0E0E;
}

.under-form{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    line-height: 132px;
    color: #FFFFFF;
}

.inter_link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 39px;
    padding: 8px;
    border: 5px;
    color: #FFFFFF;
}